# Ignore CMake build artifacts
.DS_Store
*build/
*CMakeFiles/
CMakeCache.txt
*cmake_install.cmake
*Makefile
*cmake-build-debug*

# Ignore editor/project files
.idea/
.vscode/
*.xcodeproj
*.xcworkspace

# Ignore logs
*.log

# Ignore generated compile_commands.json (optional)
compile_commands.json

# Keep distributed binaries in Bin/
# But ignore intermediate garbage files in Bin
/Bin/*.o
/Bin/*.tmp
/Bin/*~
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/query/cache-v2
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/cache-v2-d9186ac544f60b507bde.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-92baf8ca5e6e0963ae21.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-80a2e555413d0bc67b9c.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/directory-.-Debug-29b570c3c83acb93c58e.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/index-2025-05-07T16-23-36-0160.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-antbase-Debug-73787680f91eed8395b6.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-antbase_shared-Debug-c8ee66b09e2bdfb55923.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-clean_build-Debug-573a4bb4478caa89129c.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-demo_dll-Debug-57f7ee4e4b49a92ab0af.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-demo_dylib-Debug-197a240a0121d9c3003a.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-demo_lib-Debug-b967c41fd8e403517151.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-full_build-Debug-45d3ff28b09b3e5cd932.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-install_local-Debug-96c4ff520dfcdf1db594.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-libant-Debug-6e8363cfbe0bb25aa14d.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-shared_build-Debug-2021676e59cf8c6fa4f0.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/target-static_build-Debug-caa6587d7bb7d2ba08ca.json
/ANT-SDK_Mac.3.5/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-d9e3695236fee0a7c5d6.json
